.main {
    width: 1300px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    .block_img {
        width: 300px;
        height: 200px;
        border: 1px solid rgba(0, 0, 0, .1);
        text-align: center;
        line-height: 200px;
        margin: 5px;
        padding: 5px;
        img {
            &::selection {
                background: none;
            }
            max-width: 300px;
            max-height: 200px;
            cursor: pointer;
            vertical-align: middle;
        }
    }

}

