.main {
    width: 1300px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .block_img {
        height: 200px;
        border: 1px solid rgba(0, 0, 0, .1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px;
        padding: 5px;
        img {
            &::selection {
                background: none;
            }
            max-width: 300px;
            max-height: 200px;
            cursor: pointer;
        }
    }

}

