.modal_overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
.x {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 10px;
    right: 50px;
    cursor: pointer;
}
.hr {
    width: 398px;
    background: rgba(180, 183, 185, .1);
    border: 1px solid rgba(180, 183, 185, .5);
}
/**************************************************/
.modal {
    width: 1300px;
    height: 506px;
    margin: 80px auto;
    font-family: Roboto;
    font-size: 18px;
    background: white;
    display: flex;

}
.modal img {
    max-width: 900px;
    max-height: 506px;

}

/*.right {*/
/*    width: 400px;*/
/*}*/
/**************************************************/
.author {
    font-size: 16px;
    display: flex;
}
        .circle {
            height: 45px;
            width: 45px;
            margin: 5px 5px -5px 10px;
            background: gold;
            border-radius: 50%;
        }
        .author_name {
           margin: 19px 0px 0px 3px;
            font-size: 17px;
        }
        .date {
            margin: 22px 0 0 125px;
            font-size: 14px;
            color: rgba(156, 156, 156, 1);
        }
/**************************************************/
.comments {
    margin: 0 0 0 20px;
    overflow-y: auto;
    height: 368px;
}

.com_author_block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.com_author_name {
    color: #5e5e5e;
    font-size: 14px;

}

.comment_date {
    font-size: 13px;
    color: rgba(156, 156, 156, 1);
}


.com_text_block {
    display: flex;
    justify-content: space-around;

}

.com_circle {
    height: 35px;
    width: 35px;
    background: #646769;
    border-radius: 50%;
    margin: 0 0 0 -6px;

}

.comment_text {
    text-indent: 20px;
   width: 85%;
    font-size: 14px;
}

/**********************************/
.form {
    dispalay: flex;

}
.form input {
    width: 72%;
    height: 50px;
    border: 0;
    border-right: 1px solid rgba(180, 183, 185, .5);
    padding-left: 10px;
}
.form input::placeholder {
    padding-left: 10px;
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
.form button {
    width: 25%;
    height: 52px;
    background: #ffffff;
    border: 0;
    color: darkblue;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;

}